html, body{
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu{
    display: inline-block;
    width: 100%;
    height: 100%;


    vertical-align: middle;
    text-align: center;
    line-height: 200px;

    font-family: Montserrat;
    font-size: medium;
    color: #FCFCFC;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0.2px;

}
.menu-btn{
    background-color: #434343;
    margin: 5em;
    padding: 5em;
    border-radius: 15px;
    display: grid;
}
br{
     line-height: 5px;
}

h2{
    text-align: center;
    padding-top: 10px;
}