html, body{
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container{margin: 0 20px;}
.site-content{padding-top: 66px;}

.header{
    position: fixed;
    left: 0;
    right: 0;
    height: 66px;
    line-height: 66px;
    color: #FFF;
    background-color: cornflowerblue;
}

.header__logo{
    font-weight: bold;
    padding: 0 25px;
    float: left;
    color: #FFFFFF;
}

.menu{
    float: left;
}
.menu a{
    padding: 0 10px;
    color: white;
}
.menu a:hover{
    color:antiquewhite ;
}
